<a href="https://colab.research.google.com/github/victoriacbarros/Python_Studies/blob/main/Vectorization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import time
import numpy as np
import pandas as pd

In [37]:
df = pd.read_csv('cost_undergraduate.csv', sep =',')

In [ ]:
df.head()

   Year    State             Type  Length       Expense  Value
0  2013  Alabama          Private  4-year  Fees/Tuition  13983
1  2013  Alabama          Private  4-year    Room/Board   8503
2  2013  Alabama  Public In-State  2-year  Fees/Tuition   4048
3  2013  Alabama  Public In-State  4-year  Fees/Tuition   8073
4  2013  Alabama  Public In-State  4-year    Room/Board   8473

In [ ]:
df.dtypes

Year        int64
State      object
Type       object
Length     object
Expense    object
Value       int64
dtype: object

In [38]:
%%timeit

a = (df['Length'].str.slice(0, 1))

b = a.apply(int)
df['Duration'] = b
df

4.05 ms ± 132 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [39]:
df.dtypes

Year         int64
State       object
Type        object
Length      object
Expense     object
Value        int64
Duration     int64
dtype: object

In [40]:
#Calculating graduation year using for:
%%timeit

def grad(row):
  return row['Year'] + row['Duration']

df['Graduation'] = df.apply(grad, axis=1)

106 ms ± 28.2 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [41]:
#Calculating graduation year using vectorization:
%%timeit
df['Grad_Year'] = df['Year'] + df['Duration']

360 µs ± 4.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [42]:
#Estimating course type with the for command:
%%timeit

kind = []
for i, row in df.iterrows():
  if row['Duration'] >= 4:
    kind.append("Bachelor")
  else:
    kind.append("Technologist")

df['Degree'] = kind

249 ms ± 10 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [43]:
%%timeit

conditions = [(df['Duration']>=4),df['Duration']<3]

classification = ['Bachelor',"Technologist"]

df['Degree_Type'] = np.select(conditions, classification, default=np.nan)

1.17 ms ± 74.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [44]:
df.head()

,Year,State,Type,Length,Expense,Value,Duration,Graduation,Grad_Year,Degree,Degree_Type
0,2013,Alabama,Private,4-year,Fees/Tuition,13983,4,2017,2017,Bachelor,Bachelor
1,2013,Alabama,Private,4-year,Room/Board,8503,4,2017,2017,Bachelor,Bachelor
2,2013,Alabama,Public In-State,2-year,Fees/Tuition,4048,2,2015,2015,Technologist,Technologist
3,2013,Alabama,Public In-State,4-year,Fees/Tuition,8073,4,2017,2017,Bachelor,Bachelor
4,2013,Alabama,Public In-State,4-year,Room/Board,8473,4,2017,2017,Bachelor,Bachelor

In [45]:
#Deleting columns with same information:

df.drop(["Graduation","Degree"], axis = 1, inplace = True)

In [46]:
df.head()

,Year,State,Type,Length,Expense,Value,Duration,Grad_Year,Degree_Type
0,2013,Alabama,Private,4-year,Fees/Tuition,13983,4,2017,Bachelor
1,2013,Alabama,Private,4-year,Room/Board,8503,4,2017,Bachelor
2,2013,Alabama,Public In-State,2-year,Fees/Tuition,4048,2,2015,Technologist
3,2013,Alabama,Public In-State,4-year,Fees/Tuition,8073,4,2017,Bachelor
4,2013,Alabama,Public In-State,4-year,Room/Board,8473,4,2017,Bachelor