<a href="https://colab.research.google.com/github/victoriacbarros/Python_Studies/blob/main/Vectorization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import time
import numpy as np
import pandas as pd

In [18]:
df = pd.read_csv('cost_undergraduate.csv', sep =',')

In [19]:
df.head()

   Year    State             Type  Length       Expense  Value
0  2013  Alabama          Private  4-year  Fees/Tuition  13983
1  2013  Alabama          Private  4-year    Room/Board   8503
2  2013  Alabama  Public In-State  2-year  Fees/Tuition   4048
3  2013  Alabama  Public In-State  4-year  Fees/Tuition   8073
4  2013  Alabama  Public In-State  4-year    Room/Board   8473

In [20]:
df.dtypes

Year        int64
State      object
Type       object
Length     object
Expense    object
Value       int64
dtype: object

In [21]:
%%timeit

a = (df['Length'].str.slice(0, 1))

b = a.apply(int)
df['Duration'] = b
df

2.46 ms ± 43.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [22]:
df.head()

   Year    State             Type  Length       Expense  Value  Duration
0  2013  Alabama          Private  4-year  Fees/Tuition  13983         4
1  2013  Alabama          Private  4-year    Room/Board   8503         4
2  2013  Alabama  Public In-State  2-year  Fees/Tuition   4048         2
3  2013  Alabama  Public In-State  4-year  Fees/Tuition   8073         4
4  2013  Alabama  Public In-State  4-year    Room/Board   8473         4

In [23]:
df.dtypes

Year         int64
State       object
Type        object
Length      object
Expense     object
Value        int64
Duration     int64
dtype: object

In [24]:
#Calculating graduation year using for:
%%timeit

def grad(row):
  return row['Year'] + row['Duration']

df['Graduation'] = df.apply(grad, axis=1)

51.1 ms ± 8.99 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [25]:
#Calculating graduation year using vectorization:
%%timeit
df['Grad_Year'] = df['Year'] + df['Duration']

213 µs ± 14.8 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [26]:
#Estimating course type with the for command:
%%timeit

kind = []
for i, row in df.iterrows():
  if row['Duration'] >= 4:
    kind.append("Bachelor")
  else:
    kind.append("Technologist")

df['Degree'] = kind

138 ms ± 11.6 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [27]:
%%timeit

conditions = [(df['Duration']>=4),df['Duration']<3]

classification = ['Bachelor',"Technologist"]

df['Degree_Type'] = np.select(conditions, classification, default=np.nan)

679 µs ± 9.41 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [28]:
df.head()

,Year,State,Type,Length,Expense,Value,Duration,Graduation,Grad_Year,Degree,Degree_Type
0,2013,Alabama,Private,4-year,Fees/Tuition,13983,4,2017,2017,Bachelor,Bachelor
1,2013,Alabama,Private,4-year,Room/Board,8503,4,2017,2017,Bachelor,Bachelor
2,2013,Alabama,Public In-State,2-year,Fees/Tuition,4048,2,2015,2015,Technologist,Technologist
3,2013,Alabama,Public In-State,4-year,Fees/Tuition,8073,4,2017,2017,Bachelor,Bachelor
4,2013,Alabama,Public In-State,4-year,Room/Board,8473,4,2017,2017,Bachelor,Bachelor

In [29]:
#Deleting columns with same information:

df.drop(["Graduation","Degree"], axis = 1, inplace = True)

In [30]:
df.head()

,Year,State,Type,Length,Expense,Value,Duration,Grad_Year,Degree_Type
0,2013,Alabama,Private,4-year,Fees/Tuition,13983,4,2017,Bachelor
1,2013,Alabama,Private,4-year,Room/Board,8503,4,2017,Bachelor
2,2013,Alabama,Public In-State,2-year,Fees/Tuition,4048,2,2015,Technologist
3,2013,Alabama,Public In-State,4-year,Fees/Tuition,8073,4,2017,Bachelor
4,2013,Alabama,Public In-State,4-year,Room/Board,8473,4,2017,Bachelor